@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Poppins&display=swap');
@import url('https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css');

.color-0{color: #ffffff;}
.color-1{color: #ff4444;}
.color-2{color: #99cc00;}
.color-3{color: #ffbb33;}
.color-4{color: #0099cc;}
.color-5{color: #33b5e5;}
.color-6{color: #aa66cc;}
.color-8{color: #cc0000;}
.color-9{color: #cc0068;}

* {
  font-family: 'Kanit';
  font-weight: 300;
  margin: 0;
  padding: 0;
  color: #fff;
}

.no-grow {
  flex-grow: 0;
}

em {
  font-style: normal;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.chat-window {
  position: absolute;
  top: 1.5%;
  left: 0;
  width: 38%;
  height: 22%;
  max-width: 1000px;
  background: none !important;
  -webkit-animation-duration: 2s;
}


.chat-messages {
  position: relative;
  height: 95%;
  font-size: 1.35vh;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}


.chat-input {
  font-size: 1.65vh;
  position: absolute;
  top: 23.8%;
  left: 0;
  width: 20%;
  max-width: 1000px;
  box-sizing: border-box;
}

.prefix {
  font-size: 1.8vh;
  position: absolute;
  margin-top: 0.5%;
  left: 0.208%;
}

textarea {
  font-size: 1.35vh;
  display: block;
  box-sizing: border-box;
  padding: 1%;
  background-color: rgba(45, 50, 55, 0.95);
  width: 100%;
  border-width: 0;
  height: 3.15vh;
  min-height: 3.15vh !important;
  overflow: hidden;
  text-overflow: ellipsis;
  resize: none;
  border-radius: 0 10px 10px 0;
  margin-bottom: 10px;
}

textarea:focus, input:focus {
    outline: none;
}

.msg {
  margin-bottom: 0.28%;
}

.multiline {
  margin-left: 4%;
  text-indent: -1.2rem;
  white-space: pre-line;
}

.suggestions {
  list-style-type: none;
  padding: 1% 0 .5%;
  padding-left: 1.4%;
  font-size: 1.25vh;
  box-sizing: border-box;
  background-color: rgba(45, 50, 55, 0.95);
  width: 100%;
  border-radius: 0 10px 10px 0;
}

.help {
  color: #777777;
}

.disabled {
  color: #777777;
}

.suggestion {
  margin-bottom: 0.5%;
}

.hidden {
  display: none;
}

#message-style {
  display: flex;
  padding: 6px;
  background: rgba(45, 50, 55, .7);
  border-radius: 0 10px 10px 0;
  max-width: 75%;
  margin-bottom: 5px;
  width: fit-content;
  min-width: 25%;
  word-wrap: break-word;
}

#obj {
  margin: 0 10px;
  width: auto;
  max-width: 100%;
  position: relative;
  min-width: 85%;
}

#top-obj {
  padding-bottom: 5px;
}

#head-obj {
  float: left;
  width: auto;
  display: flex;
  align-items: center;
}

#header {
  margin-top: 1px;
  margin-left: 6px;
  float: left;
  width: auto;
  padding: 0 5px;
}

#time {
  float: right;
  color: #C6C6C6;
}